
/**************** MAIN ELEMENT STYLES ****************/

body {
  text-align: center;
  background-color: lightcyan;
}

h1,
h2,
nav {
  font-family: 'Days One', sans-serif;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}


/**************** CLASS STYLES ****************/

.image {
  max-width: 80%;
}

.main-nav li,
.contact-div li {
  list-style: none;
}

.design-div {
  max-width: 70%;
  margin: 0 15%;
  padding: 0;
  box-sizing: border-box;
}

.design-div li{
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
