
* {
    box-sizing: border-box;
}

/**************** ELEMENT STYLES ****************/

body {
  text-align: center;
}

h1 {
  margin: 0;
  padding-top: .5em;
  padding-bottom: .5em;
}

h1,
h2,
nav {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 1.05em;
  margin-bottom: 50px;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.35em;
  padding-top: 10px;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

footer {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #f6f6f6;
  text-align: left;
  border-top: 1px solid lightgrey;
  padding: 25px 0;
}

footer h2 {
  margin-top: 0;
  display: inline;
  margin-left: 5%;
  margin-right: 38%
}

footer a {
  color: inherit;
}

footer a:visited {
  color: grey;
}

/**************** LAYOUT STYLES ****************/

.top-div {
  background-color: #f6f6f6;
  padding-bottom: 25px;
  margin-bottom: 50px;
}

.profile-image {
  max-width: 65%;
  margin-top: 2em;
  margin-bottom: 7px;
}

.profile-para,
.contact-div p {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.125em;
}

.main-nav li,
.contact-div li {
  list-style: none;
}

.main-nav a {
  display: block;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: lightgrey;
  color: lightslategrey;
}

.main-nav a:visited {
  color: midnightblue;
}

.main-nav a:hover {
  background-color: lightslategrey;
  color: lightgrey;
}

.main-nav {
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.main-nav li {
  margin-top: .5em;
  margin-bottom: .5em;
  background-color: white;
}

.portfolio-div p {
  margin-bottom: 2.5em;
  margin-left: 7.5%;
  margin-right: 7.5%;
}

.image {
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.design-div {
  max-width: 100%;
  margin: 0;
  padding: 50px 5%;
  background-color: lightgrey;
}

.design-div li{
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.design-div ul {
  padding-left: 5%;
}

.contact-div {
  background-color: #f6f6f6;
  padding-top: 50px;
  padding-bottom: 50px;
}
.contact-div li {
  font-family: 'Lato', sans-serif;
  font-size: 1.125em;
}

.contact-div a {
  font-weight: 700;
  padding-left: .5em;
  line-height: 2.25em;
  color: inherit;
}

.contact-div a:hover {
  color: grey;
}
