
* {
    box-sizing: border-box;
}

/**************** ELEMENT STYLES ****************/

body {
  text-align: center;
  background-color: #f6f6f6;
}

h1 {
  margin: 0;
  padding-top: .5em;
  padding-bottom: .5em;
}

h1,
h2,
nav {
  font-family: 'Roboto', sans-serif;
}

nav a {
  display: block;
  text-align: center;
  padding-top: .8em;
  padding-bottom: .8em;
  background-color: white;
  color: black;
}

nav a:visited {
  color: grey;
}

nav a:hover {
  background-color: grey;
  color: white;
}

nav {
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

nav li {
  list-style: none;
  margin-top: .5em;
  margin-bottom: .5em;
  background-color: white;
}

h2 {
  font-size: 1em;
  margin-bottom: 50px;
  margin-top: 0;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.25em;
  padding-top: 10px;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

footer {
  width: 90%;
  margin: 0 5%;
  font-family: 'Roboto', sans-serif;
  background-color: #f6f6f6;
  text-align: left;
  border-top: 1px solid lightgrey;
  padding: 25px 0;
}

footer h2 {
  margin-top: 0;
  display: inline;
  margin-right: calc(100% - 190px);
}

footer a {
  color: black;
}

footer a:visited {
  color: grey;
}

footer a:hover {
  color: darkgrey;
}

/**************** LAYOUT STYLES ****************/

.top-div {
  background-color: #f6f6f6;
  padding-bottom: 25px;
}

.profile-image {
  max-width: 65%;
  margin-top: 2em;
  margin-bottom: 7px;
}

.profile-para,
.contact-div p {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.05em;
}

.contact-div li {
  list-style: none;
}

.portfolio-div {
  background-color: azure;
  padding: 50px 0 35px 0;
}

.portfolio-div p {
  margin-bottom: 2.5em;
  margin-left: 7.5%;
  margin-right: 7.5%;
}

.image {
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.design-div {
  max-width: 100%;
  margin: 0;
  padding: 50px 5%;
  background-color: #ccffff;
}

.design-div li{
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.design-div ul {
  padding-left: 5%;
}

.contact-div {
  background-color: #f6f6f6;
  padding-top: 50px;
  padding-bottom: 50px;
}
.contact-div li {
  font-family: 'Lato', sans-serif;
  font-size: 1.125em;
}

.contact-div a {
  font-weight: 700;
  padding-left: .5em;
  line-height: 2.25em;
  color: inherit;
}

.contact-div a:hover {
  color: grey;
}

/***********************************
          768px MEDIA QUERY
************************************/

@media (min-width: 768px) {

/****** 768px MEDIA QUERY - ELEMENT LAYOUT ******/

header {
  padding-top: 40px;
}

nav a {
  background-color: #f6f6f6;
  text-align: center;
  padding: 5px;
  color: black;
  font-size: 1.125em;
}

nav li {
  display: inline-block;
  padding: 0 15px;
  background-color: #f6f6f6;
}

nav {
  margin-bottom: 50px;
}

/****** 768px MEDIA QUERY - CLASS LAYOUT ******/

.top-div {
  padding-bottom: 50px;
}

.profile-image {
  max-width: 100%;
  margin: 0;
}

.profile-pic {
  float: right;
  width: 40%;
  margin-right: 25px;
}

.profile-para {
  width: calc(100vw - 40% - 50px);
  text-align: left;
  font-size: 1.4em;
  margin: 0 25px;
  padding-right: 10px;
}

.profile-para p {
  margin-top: -10px;
}

.image {
  width: 100%;
  margin: 0;
}

.left,
.right {
  float: left;
  width: 50%;
}

.left img {
  margin-left: 7.5%;
}

.right img {
  margin-right: 7.5%;
}

.portfolio-div p {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1.1875em;
}

.design-div {
  clear: both;
}

/****** 768px MEDIA QUERY - CLEARFIX ******/

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}



}
